[project]
	description = First repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/liahos
[access "refs/for/refs/*"]
	read = group user/liahos
	push = group user/liahos
	label-Code-Review = -2..+2 group user/liahos
	label-Verified = -1..+1 group user/liahos
	rebase = group user/liahos
	removeReviewer = group user/liahos
	submit = group user/liahos
[access "refs/heads/*"]
	read = group user/liahos
	create = group user/liahos
	push = +force group user/liahos
	pushMerge = group user/liahos
[access "refs/tags/*"]
	push = +force group user/liahos
	pushTag = group user/liahos
	pushSignedTag = group user/liahos
